[Desktop Entry]
Name=Sainsbury's
Comment=Sainsbury's WebApp
Type=Application
Icon=icon.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Image=icon.png
X-Ubuntu-Splash-Color=#FFFFFF
